/* .col {
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
  } */

  #movie-info{
    margin: 5px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-content {
    font-size: 16px;
    line-height: 1.5;
  }

  body {
    background-image: url("./Movie3.jpeg"); /* Set a background image make sure to edit the path to your image*/
    background-size: cover; /* Adjust the image size to cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
  }
  
  header {
    background-color: #f1f1f1; /* Set a background color */
  }
